{% load i18n static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item mt-3">
            <div class="nav-search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type to search..." aria-label="search"
                           aria-describedby="search">
                    <div class="input-group-append">
                  <span class="input-group-text" id="search">
                    <i class="typcn typcn-zoom"></i>
                  </span>
                    </div>
                </div>
            </div>
            <p class="sidebar-menu-title">Dash menu</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="typcn typcn-briefcase menu-icon"></i>
                <span class="menu-title">Models</span>
                <i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    {% if app_list %}
                        {% for app in app_list %}
                            {% for model in app.models %}
                                {% if model.admin_url %}
                                    <li class="nav-item">
                                        <a href="{{ model.admin_url }}"
                                            {% if model.admin_url in request.path|urlencode %}
                                                       aria-current="page"{% endif %} class="nav-link">{{ model.name }}</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">{{ model.name }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {#                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>#}
                    {#                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>#}
                    {#                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>#}
                </ul>
            </div>
        </li>
    </ul>
</nav>